* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: monospace;
}

body {
  min-height: 100vh;
  background: rgb(6, 11, 31);
  display: grid;
  place-items: center;
}

.container-calculator {
  background-color: rgba(18, 46, 82, 0.699);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 10px;
  border-radius: 1rem;
  font-weight: 600;
  overflow: hidden;
  margin: 40px;
}
.container-calculator .propiedades-calculadora, .container-calculator .btn, .container-calculator .display-calculator {
  background-color: rgb(7, 21, 48);
  border-radius: 0.5rem;
  color: #fff;
}
.container-calculator .display-calculator {
  font-size: 6rem;
  padding: 1rem;
  display: grid;
  grid-column: 1/-1;
  overflow: hidden;
  text-align: right;
  align-items: center;
}
.container-calculator .btn {
  border: 0;
  font-size: 2rem;
  padding: 20px 40px;
}
.container-calculator .btn:hover {
  background-color: rgb(31, 83, 143);
  cursor: pointer;
}
.container-calculator #igual {
  background-color: rgb(146, 13, 69);
}
.container-calculator #igual:hover {
  background-color: rgb(173, 58, 106);
}

@media (max-width: 675px) {
  .container-calculator .btn {
      padding: 10px 20px;
  }
}

